/* Carousel Styling */
.carousel {
  cursor: pointer;
  height: 60%;
  margin: 15% auto;
  position: relative;
}

.image-slide {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Arrows */
.left-arrow {
  left: 0;
  position: absolute;
  top: 50%;
  font-size: 75px;
  color: white;
}

.right-arrow {
  right: 0;
  position: absolute;
  bottom: 35.3%;
  font-size: 75px;
  color: white;
}

.right-arrow:hover, .left-arrow:hover,
.right-arrow:focus, .left-arrow:focus {
  color: lightskyblue;
  cursor: pointer;
}

/* Main page */
.main-img {
  width: 100%;
  cursor: pointer;
}

.sub-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.subImages {
  object-fit: fill;
  display: flex;
}

/* sub images on main page */
.sub-img {
  width: 50%;
  height: 20%;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  position: fixed; 
  z-index: 1; /* Sits modal on top, +1 on depth */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* The Close 'X' Button within Modal*/
.close {
  color:white;
  font-size: 75px;
  position: absolute;
  top: 10px;
  right: 30px;
}

.close:hover,
.close:focus {
  color: lightskyblue;
  cursor: pointer;
}